{{ define "main" }}
    <div class="row">
        <br>
    </div>
    <div class="row align-items-center">
        <div class="col-3"></div>
        <div class="col-6">
            <a href={{absURL .Params.Url}} style="text-decoration: none;">
                <div class="card text imagebox" style="border: none;">
                    {{ with resources.GetMatch .Params.Coverimage}}
                        <img src="{{.Permalink}}" class="img" alt="{{.Title}}">
                    {{end}}
                    <p class="caption"> {{.Params.ListTitle}} </p>
                </div>
            </a>
        </div>
        <div class="col-3"></div>
    </div>

{{ end }}